<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="generator" content="hutools">
</head>
<body>
  <div class="container">

    <header>
      <nav>
        {{ sitename }} |
        <a href="/">Home</a> |
        <a href="/about">About</a>
      </nav>
      <h1>{{ title }}</h1>
    </header>

    <main>
      {{{ contents }}}
      {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </main>

    <footer>
      <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
    </footer>

  </div>

</body>
</html>
